.bg-image-description {
    background-image: url("assets/about_service.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.bg-business-calculator{
    background-color: #ffffff;
    min-height: 530px;
}

@media screen and (max-width: 480px) {
    .bg-image-description {
        background-image: none;
    }
    /*.bg-image-about {*/
    /*    background-image: none;*/
    /*}*/
}