@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700;900&display=swap');

.btn {
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.h1-about{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    /*font-size: 3vw;*/
    line-height: 40px;
    /*color: #1BA904;*/
    padding-top: 15px;
}

.h1-about::first-letter{
    color: #1BA904;
}

.h3-about{
    font-family: "Roboto", sans-serif;
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    /*color: #1BA904;*/
    padding-top: 140px;
}

.p-about{
    font-family: "Montserrat", sans-serif;
    /*font-style: normal;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /*color: #1BA904;*/
    letter-spacing: 1px;
    padding-top: 50px;
}

.items{
    text-align: left;
}

@media screen and (min-width: 3840px) {
    .h1-about{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 4.7rem;
        /*font-size: 3vw;*/
        line-height: 2.5rem;
        /*color: #1BA904;*/
        padding-top: 1rem;
    }

    .h1-about::first-letter{
        color: #1BA904;
    }

    .h3-about{
        font-family: "Roboto", sans-serif;
        /*font-style: normal;*/
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 1.8rem;
        /*color: #1BA904;*/
        padding-top: 13.7rem;
    }

    .p-about{
        font-family: "Montserrat", sans-serif;
        /*font-style: normal;*/
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.8rem;
        /*color: #1BA904;*/
        letter-spacing: 2px;
        padding-top: 4.7rem;
    }
}

/*@media screen and (min-width: 2048px) {*/
/*    .h1-about{*/
/*        font-family: "Roboto", sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: 900;*/
/*        font-size: 85px;*/
/*        !*font-size: 3vw;*!*/
/*        line-height: 70px;*/
/*        !*color: #1BA904;*!*/
/*        padding-top: 15px;*/
/*    }*/

/*    .h1-about::first-letter{*/
/*        color: #1BA904;*/
/*    }*/

/*    .h3-about{*/
/*        font-family: "Roboto", sans-serif;*/
/*        !*font-style: normal;*!*/
/*        font-weight: 700;*/
/*        font-size: 45px;*/
/*        line-height: 30px;*/
/*        !*color: #1BA904;*!*/
/*        padding-top: 140px;*/
/*    }*/

/*    .p-about{*/
/*        font-family: "Montserrat", sans-serif;*/
/*        !*font-style: normal;*!*/
/*        font-weight: 400;*/
/*        font-size: 25px;*/
/*        line-height: 35px;*/
/*        !*color: #1BA904;*!*/
/*        letter-spacing: 1px;*/
/*        padding-top: 50px;*/
/*    }*/
/*}*/
