@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700;900&display=swap');

.h1-advantages{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 40px;
    /*color: #1BA904;*/
    padding-top: 100px;
    text-align: left;
}

.h1-advantages::first-letter{
    color: #1BA904;
}

.align-advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 68px;
}

.p-advantages{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 143% */

    text-align: center;
    letter-spacing: 0.005em;
    padding-bottom: 110px;

    /* Background color text */

    color: #000000;
}

.h4-advantages{
    /* H3 */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: center;

    color: #000000;

    margin-top: 35px;
    margin-bottom: 35px;
}

/*.img{*/
/*    object-fit: cover;*/
/*}*/

@media screen and (min-width: 3840px) {
    .h1-advantages{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 40px;
        /*color: #1BA904;*/
        padding-top: 100px;
        text-align: left;
    }

    .h1-advantages::first-letter{
        color: #1BA904;
    }

    .p-advantages{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        /* or 143% */

        text-align: center;
        letter-spacing: 0.005em;
        padding-bottom: 110px;

        /* Background color text */

        color: #000000;
    }

    .h4-advantages{
        /* H3 */
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        /* identical to box height, or 111% */

        text-align: center;

        color: #000000;

        margin-top: 35px;
        margin-bottom: 35px;
    }
}

/*@media screen and (min-width: 2048px) {*/
/*    .h1-advantages{*/
/*        font-family: "Roboto", sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: 900;*/
/*        font-size: 60px;*/
/*        line-height: 40px;*/
/*        !*color: #1BA904;*!*/
/*        padding-top: 100px;*/
/*        text-align: left;*/
/*    }*/

/*    .h1-advantages::first-letter{*/
/*        color: #1BA904;*/
/*    }*/

/*    .p-advantages{*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: 400;*/
/*        font-size: 25px;*/
/*        line-height: 30px;*/
/*        !* or 143% *!*/

/*        text-align: center;*/
/*        letter-spacing: 0.005em;*/
/*        padding-bottom: 110px;*/

/*        !* Background color text *!*/

/*        color: #000000;*/
/*    }*/

/*    .h4-advantages{*/
/*        !* H3 *!*/
/*        font-family: 'Roboto', sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: 700;*/
/*        font-size: 35px;*/
/*        line-height: 45px;*/
/*        !* identical to box height, or 111% *!*/

/*        text-align: center;*/

/*        color: #000000;*/

/*        margin-top: 35px;*/
/*        margin-bottom: 35px;*/
/*    }*/
/*}*/