@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;600;700;900&display=swap');

.sticky-footer{
    position: sticky;
    top: 100%;
}

@media screen and (min-width: 3840px) {

}

footer{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.footerText{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
    /*line-height: 20px;*/
}

.footerTextNumber{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /*line-height: 20px;*/
}
@media screen and (min-width: 3840px) {
    .logoBig{
        /*width: 100%;*/
        height: 10rem;
    }

    .footerText{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        padding-bottom: 10px;
        /*line-height: 20px;*/
    }

    .footerTextNumber{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        /*line-height: 20px;*/
    }
}